<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ca819f0c-53af-4c06-8bd3-72872e0e24dd" Publisher="CN=Amrykid" Version="0.1.0.1" />
  <Properties>
    <DisplayName>Hanasu</DisplayName>
    <PublisherDisplayName>Amrykid</PublisherDisplayName>
    <Logo>Assets\vector_icon_50_50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Hanasu.App">
      <VisualElements DisplayName="Hanasu" Logo="Assets\vector_icon_150_150.png" SmallLogo="Assets\vector_icon_30_30.png" Description="Hanasu" ForegroundText="light" BackgroundColor="#0F0F0F" ToastCapable="true">
        <DefaultTile ShowName="wideLogoOnly" ShortName="Hanasu" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\vector_icon_splash.png" BackgroundColor="#0F0F0F" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
        <Extension Category="windows.backgroundTasks" StartPage="View\MainPage.xaml">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>